* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1b65ff;
}

header {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 10px 10px;

  background-color: #eee;
}

header img {
  margin-left: 10px;
  width: 25%;
  max-width: 150px;
}

header button {
  background-color: blue;

  font-size: 18px;
  color: #fff;

  padding: 10px;
  border: 0;
  border-radius: 10px;
}

/* Seção de Usuários */

#users {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
}

/* Card de Usuário */

.user-card {
  width: 200px;
  background-color: #eee;

  border-radius: 10px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card:hover {
  box-shadow: 12px 10px 5px 0px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}

.user-card img {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  margin-bottom: 20px;

  image-rendering: pixelated;
  object-fit: cover;
  object-position: 0px 10px;
}

.user-card p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}
